@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: rgba(0, 0, 0, 1);
  --secondary: rgba(245, 239, 230, 1);
}

body {
  margin: 0;
  font-family: 'Playfair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary);
  overflow-x: hidden;
}

/* Scroll styling */
::-webkit-scrollbar {
  width: 10px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  border: 2px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* Disable text dragging */
*, *::after, *::before {
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

/* Link styling */
a {
  color: var(--primary) !important;
  text-decoration: underline !important;
  cursor: pointer;
}

a:hover {
  color: var(--secondary) !important;
  background-color: var(--primary);
}
